anyio==4.9.0
beautifulsoup4==4.12.3
build==1.2.2.post1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.0
cycler==0.11.0
fastparquet==2026.3.0
fonttools==4.51.0
frozendict==2.4.2
h11==0.16.0
hmmlearn==0.3.3
httpcore==1.0.9
httpx==0.27.0
idna==3.7
iniconfig==1.1.1
joblib==1.4.2
kiwisolver==1.4.4
markdown-it-py==2.2.0
matplotlib==3.9.2
mdurl==0.1.0
multitasking==0.0.11
neuralprophet==0.8.0
numpy==1.26.4
optuna==4.4.0
packaging==24.2
pandas==2.2.3
peewee==3.18.1
pillow==11.2.1
platformdirs==4.3.8
pluggy==1.6.0
protobuf==5.29.5
pyarrow==19.0.0
pycparser==2.21
Pygments==2.15.1
pyparsing==3.1.2
pyproject_hooks==1.2.0
pytest==8.4.1
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2
requests==2.32.4
rich==13.9.4
scikit-learn==1.5.1
scipy==1.15.3
setuptools==75.1.0
six==1.16.0
soupsieve==2.5
threadpoolctl==3.5.0
toolz==0.12.0
typing_extensions==4.14.0
tzdata==2023.3
urllib3==2.2.3
wheel==0.44.0
xgboost==3.2.0
yfinance==0.2.50
